body {
    background-image:url(https://p4.wallpaperbetter.com/wallpaper/487/703/692/anime-clouds-sky-trees-anime-wallpaper-preview.jpg) ;
   background-repeat: no-repeat;
    background-size: cover;
}
.container {
    text-align: center;
}
